@import "tailwindcss";

@theme {
  --color-primary: #2f91de;
  --color-danger: #ff934f;
  --color-gray: #424242;
  --color-medium_gray: #757575;
  --color-lite_gray: #BDBDBD;
  --color-mediumlite_grey:#878787;
  --color-morelite_grey:#EEEEEE;
  --color-blue: #2748b3;
  --color-medium_blue: #1e88e5;
  --color-approved_blue: #2196f3;
  --color-lite_blue: #e3f2fd;
  --color-green: #40c0a2;
  --color-brown: #cd8181;
  --color-red: #e16f7c;
  --color-dark_red: #ef2b1f;
  --color-medium_red: #ef6e68;
  --color-lite_red: #ffeaed;
  --color-orange: #ffd370;
  --color-medium_orange: #ff9600;
  --color-lite_orange: #fff3de;
  --color-white: #ffffff;
}

@layer utilities {
  .center{
    @apply flex justify-center items-center
  }
  .text_size_1 {
    @apply text-[32px] font-bold;
  }

  .text_size_2 {
    @apply text-[22px] font-extrabold;
  }
  .text_size_3 {
    @apply text-[16px] font-bold;
  }
  .text_size_4 {
    @apply text-[16px] font-medium;
  }
  .text_size_5 {
    @apply text-sm font-medium;
  }
  .text_size_6 {
    @apply text-sm font-normal;
  }
  .text_size_7 {
    @apply text-xs font-bold;
  }
  .text_size_8{
    @apply text-xl font-medium
  }
  .text_size_9{
    @apply text-2xl font-extrabold
  }
  .text_size_10{
    @apply text-lg font-medium
  }
}

/* =========================== */
/* ✅ Chrome Autofill Override */
/* =========================== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important; /* black text */
  box-shadow: 0 0 0 1000px #F9FBFD inset !important; /* match your input bg */
}